@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aspekta Variable';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('./fonts/AspektaVF.woff2') format('woff2');
}

@layer base {
  :root {
    --background: 40 18% 97%;
    --foreground: 0 1% 15%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 212 100% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 5% 92%;
    --secondary-foreground: 30 1% 31%;
    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 55%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 90% 51%;
    --destructive-foreground: 0 100% 95%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 1rem;
    --font-family-aspekta: 'Aspekta Variable', sans-serif; /* Define the font variable */
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
  
  /* Apply Aspekta font globally */
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-family-aspekta);
  }

  * {
    @apply border-border;
  }
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}

.wiggle {
  animation: wiggle 0.3s ease-in-out;
}
